.spirecard, .cardbg
  top: 0
  left: 0
  position: relative

.orb, .banner, .frame, .icon
  position: absolute

.spirecard
  margin: 30px

.orb
  top: -3.5%
  left: -7.5%
  z-index: 5

.banner
  top: 3%
  left: -5%
  z-index: 4

.frame
  top: 14%
  left: 7.5%
  z-index: 3

.icon
  top: 14%
  left: 7.5%
  z-index: 2